.column {
    display: flex;

}
.parentBanner{
    width: 100%;
    background-image: url("../public/photos/bg-2.jpg");
    background-size: cover;
    background-position: left;
    height: auto;
    padding: 20px;
}
.slick-dots li button
{
    color: white;


    cursor: pointer;
}
.container{
    overflow: hidden;
}

.column:first-child > div {
    width: 250px;
    border-radius: 0px 0px 100px 0px;
    overflow: hidden;
}

.column:nth-child(2) > div {
    width: 450px;
    border-radius: 200px 0px 0px 0px;
    overflow: hidden;;
}

.column:last-child > div {
    width: 250px;
    border-radius: 100px 0px 0px 0px;
    overflow: hidden;
}

.bannerImage img {
    width: 100%;
    height: 100%;
}

.products {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    width: 90%;

}

.products img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.products a{
    width: 100%;
}
.products button{
    color: white;
}
.column:last-child {
    align-items: flex-end;
}

.column:nth-child(2) {
    align-items: center;
}

.column:first-child {
    align-items: flex-start;
}

.bannerItem {
    width: 93%;
    margin: auto;
    height:530px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 980px) {

    .products {
        height: 70%;
        width: 80%;
    }
    .column:first-child {
        display: none;
    }

    .column:last-child {
        display: none;
    }

    .column:nth-child(2) {
        margin: auto;
    }
}
@media only screen and (max-width: 680px) {

    .products {
        height: 60%;
        width: 100%;
    }
    .column:first-child {
        display: none;
    }

    .column:last-child {
        display: none;
    }

    .column:nth-child(2) {
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {

    .products {
        height: 90%;
        width: 100%;
    }
    .column:first-child {
        display: none;
    }

    .column:last-child {
        display: none;
    }

    .column:nth-child(2) {
        margin: auto;
    }
    .column:nth-child(2) > div {
        margin: auto;
    }
    .bannerItem{
        height: 200px;
        margin: 20px;
    }
}

