.row {
    display: flex;
    margin: auto;
    width: 100%;
}

.searchMain {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.searchMain input {
    width: 100% !important;
    height: 40px;


}

.searchBtn {
    min-width: 80px;
    height: 40px;
    padding: 0 10px;
}

.clearBtn {
    min-width: 90px;
    height: 40px;
    background: #ccc;
    border: none;
}
.clearBtn:hover {
    background: #aaa;
}

.productsSection {
    width: 100%;
    padding: 30px 50px 35px;
}

.productRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.productRow > div {
    width: calc(100% / 3 - 20px);
}

.title {
    font-family: "Mardoto Light", serif;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 100px;
    font-weight: lighter;
    width: 100%;
}


@media (max-width: 1200px) {
    .productRow > div {
        width: calc(80% / 2 - 20px);
    }
}
@media (max-width: 1000px) {
    .productRow > div {
        width: calc(90% / 2 - 20px);
    }
}

@media (max-width: 768px) {

    .searchMain {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .searchBtn,
    .clearBtn {
        width: 100%;
    }

    .productRow > div {
        width: calc(100% / 2 - 10px);
        max-height:520px;

    }
}
@media (max-width: 600px) {


    .productRow > div {
        width: calc(70%);
        height: 500px;
    }
}

@media (max-width: 500px) {
    .productsSection {
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .productRow > div {
        width: calc(100% - 60px);
        height: auto;
    }
}
@media (max-width: 400px) {
    .productsSection {
        width: 100%;
        margin: auto;
        padding: 20px;

    }

    .productRow > div {
        width: calc(100% - 20px);
        height: auto;
    }
}