
.row {
    display: flex;
    margin: auto;

}


.nav {
    width: auto;
    padding-left: 50px;
    padding-bottom: 50px;
    background:#A90000;
}

.nav > fieldset span {
    color: white;
}
.filterList h3{
    color: white;
}
.filterButton{
    font-size: 30px;
    display: none;
}

.title {
    font-family: "Mardoto Light", serif;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 100px;
    font-weight: lighter;
    width: 100%;
}

.productRow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:100%;

}

.productRow > div {
    width: calc(90% / 3 - 20px);
    margin: 20px;
}

.headerNav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-right: 20px;

}

.priceList {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-top: 20px;
}

.priceList input {
    width: 100px;
    height: 35px;


}

.headerNav h3 {
    color: white;
    font-family: Mardoto, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.headerNav p {
    color: white;
    font-family: Mardoto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.productsSection {
    width: calc(100% - 360px);
    padding: 30px 50px 35px;


}

.filterList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.filterList li {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    color: white;
    font-family: Mardoto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.filterList h3 {
    color: white;
    font-family: "Mardoto Black", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 30px;
}

.productHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.productHeader h2 {
    color: white;
    font-family: Mardoto, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.lastSection {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-right: 60px;

}
.lastSection button{
    margin: 0 10px;
}

.productHeader p {
    color: black;
    font-family: Mardoto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.iconFilter {
    display: none;
}

.filterPrice {
    margin-top: 30px;
}

.filterPrice > h4 {
    font-size: 20px;
    font-family: Mardoto, serif;
    margin-bottom: 20px;
    color: black;
}

.inputs {
    display: flex;
}

.inputs input {
    padding: 10px 20px;
    border: none;
    width: 90px;
}

.inputs > div:last-child {
    margin-left: 50px;
}
@media screen and (max-width: 1300px) {
    .filterButton{
        display: block;
        color: black;
    }
    .mobileContainer{
        width: 80%;
        margin: auto;

    }
    .nav {
        transform: translateX(-100%);
        position: fixed;
        height: calc(100vh - 90px);
        transition: 1s all;
        top: 120px;
        overflow-y: scroll;
        z-index: 222222;
        padding-bottom: 100px;
    }
    .headerNav{
        display: flex;
        justify-content: flex-end;
        color: white;

    }
    .nav.active {
        transform: translateX(0%);
        transition: 1s;

    }

    .iconFilter {
        display: block;
        font-size: 25px;
    }

    .productsSection {
        width: 100%;
        margin: auto;
    }

    .productRow > div {
        height: auto;
    }
    .productRow{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .productRow > div {
        width: 30%;
        height: auto;
    }

}
@media screen and (max-width: 1200px) {


    .productRow{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .productRow > div {
        width: calc(100% / 3);
        height: auto;
        margin: 10px;
    }

}

@media screen and (max-width: 980px) {
    .filterButton{
        display: block;
    }
    .mobileContainer{
        width: 80%;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 70px;
    }
    .nav {
        position: fixed;
        height: calc(100vh - 90px);
        transition: 1s all;
        top: 120px;
        overflow-y: scroll;
        z-index: 222222;

        padding-bottom: 100px;
    }
    .headerNav{
        display: flex;
        justify-content: flex-end;
    }
    .headerNav span{
        color: white;
    }
    .nav.active {
        transform: translateX(0%);
        transition: 1s;


    }

    .iconFilter {
        display: block;
        font-size: 25px;
    }

    .productsSection {
        width: 100%;
        display: flex;

    }
    .productRow{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .productRow > div {
        width:auto;
        height: auto;
        margin: 10px;
    }

}

@media screen and (max-width: 500px) {
    .productHeader {
        flex-direction: column;
    }
}
