.page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 20px 10px black;
    margin: 20px;
}

.title {
    margin-top: 100px;
    margin-left: 90px;
    font-family: Mardoto, serif;
    color: black;
}

.location {
    margin-left: 130px;
    margin-top: 40px;

}

.information {
    display: flex;
    flex-direction: column;

}

.info {
    display: flex;
    margin-bottom: 50px;

}
.info a{
    color: black;
    text-decoration: none;
}
.info a:hover{
    font-size: 20px;
    transition: 0.2s;

}

.info span {
    color: black;
    font-family: Mardoto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info p {
    margin-top: 10px;
    color:white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    font-family: Mardoto, serif;
}

.registration {
    width: 50%;
}

.regTitle {
    margin-top: 100px;

}

.regTitle h2 {
    color: black;
    font-family: Mardoto, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: normal;
}

.background {
    background:rgba(0,0,0,0.9);
    width: 80%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.regInputs {
    width: 48%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.regInputs:last-child {
    width: 100%;
}

.regInputs:last-child div:last-child {
    display: flex;
    justify-content: flex-end;
}

.iconContact {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconContact img{
    width: 30px;
}

.regInputs input {
    margin-left: 5px;
    width:calc(100% - 10px);
    color: white;
    height: 40px;
    flex-shrink: 0;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding-left: 10px;
    margin-bottom: 4px;
}
.regInputs input::placeholder{
    color: white;
}
.regInputs textarea::placeholder{
    color: white;
}
.regInputs label {
    color: white;
    font-family: Mardoto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 5px;
    margin-left: 13px;
}

.regPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

.regInputs textarea {
    width: calc(100% - 10px);
    flex-shrink: 0;
    background:transparent;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding:10px
}

.regInputs button {
    margin-top: 25px;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    background: #FFF;
    cursor: pointer;
    color:  black;
    font-family: Mardoto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.regInputs button:hover{
    background: black !important;
    border: 1px solid white;

}
.greenSuccess{
    color: green;
    font-family: "Mardoto Black", serif;
    margin-left: 10px;
}
.error{
    color: red;
    font-size: 14px;
    font-family: Mardoto, serif;
    margin-left: 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 1150px) {
    .page {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .registration{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title{
        margin-left: 0;
        text-align: center;
    }
    .location{
        margin-left: 0;
        display: flex;

        justify-content: space-between;
    }
    .info{
        width: calc(100% / 3 - 10px);

    }
}
@media only screen and (max-width: 950px){
    .location{
        flex-direction: column;
    }
    .info p{
        line-height: 25px;
    }
    .background{
        width: 100%;
    }
}
@media only screen and (max-width: 960px){
    .registration{
        width: 90%;
        margin: auto;
    }

    .info {
        width: 100%;
    }

}
@media only screen and (max-width: 500px) {

    .page {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .regInputs{
        width: 50%;
    }

    .registration{
        width: 90%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title{
        margin-left: 0;
        text-align: center;
    }
    .location{
        margin-left: 0;
        display: flex;
        justify-content: space-between;
    }
    .info{
        width: calc(100% / 3 - 10px);
    }
}
