.title{
    width: max-content;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title > h1 {
    font-family: Mardoto, serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    color: white;
}
.title2{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 100px;
}

.basket {
    width: 90%;
    margin: auto;

}

.basketDiv {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #767676;
    border-right: 1px solid #767676;
    border-left: 1px solid #767676;
}

.shoppingLast{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #767676;
    border-right: 3px solid #767676;
    border-left: 3px solid #767676;
}

.basketItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.basketDiv:last-child {
    border-bottom: 1px solid #767676;
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}
.shoppingLast:last-child {
    border-bottom: 3px solid #767676;
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.shoppingStep {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.shoppingStep > button {
    margin-top: 30px;
}

.shoppingResult ul {
    list-style: none;
    width: 100%;

}

.shoppingResult li {
    margin-top: 10px;
    font-family: Mardoto;
    display: flex;
    justify-content: space-between;
}
.shoppingResult li:last-child span:first-child{
    margin-right: 10px;
}

.shoppingResult li:last-child {
    font-family: "Mardoto Black";
    margin-top: 26px;
}

.basketDiv > div:first-child {
    display: flex;
    width: 50%;
    overflow: hidden;
    height: 70%;
}

.basketPicture {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;

}

.basketPicture > img {
    width: 100%;
    object-fit: contain;
}

.basketText {
    margin-left: 20px;
    height: 100%;
}

.basketSpan {
    margin-top: 20px;
}

.basketSpan > span {
    font-family: Mardoto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.basketParagraph {
    margin-top: 12px;
}

.basketParagraph > p {
    font-family: Mardoto, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
}

.buttons span {
    width: 50px;
    text-align: center;
    font-size: 16px;
    font-family: Mardoto, serif;
}

.price {
}

.price > span {
    font-family: Mardoto, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;



}

.icons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.icons > ul {
    display: flex;
    margin-right: 10px;
}

.icons li {
    list-style: none;
    margin-right: 15px;
    font-size: 20px;
}
.mobileTitle{
    display: none;
}

@media only screen and (max-width: 650px) {
    .basketPicture{
        margin-left: 15px;
    }
    .basketText{
        display: none;
    }
    .mobileTitle{
        display: block;
        margin-bottom: 10px;
    }
    .mobileTitle .basketText{
        display: block;
        margin-left: 0;
    }
    .basketItem{
        margin-left: 20px;
    }
    .basketDiv{
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .basketItem {
        flex-direction: column-reverse;
    }

    .buttons {
        width: 100%;
        margin-top: 10px;
        justify-content: flex-start;
    }
    .icons{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: none;
    }
    .shoppingResult{
        width: auto;
    }
}

.title > h1 {
    font-family: Mardoto, serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
}
.title2{
    font-family: sans-serif;
    text-align: center;

}

.favorite {
    width: 90%;
    margin: auto;

}

.favoriteDiv {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.favoriteItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.favoriteDiv:last-child {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
}
.shoppingLast:last-child {
    border-bottom: 3px solid white;
    display: flex;
    justify-content: flex-end;
}

.shoppingStep {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.shoppingStep > button {
    margin-top: 30px;
}

.shoppingResult ul {
    list-style: none;
    width: 100%;

}

.shoppingResult li {
    margin-top: 10px;
    font-family: Mardoto, serif;
    color: white;
    display: flex;
    justify-content: space-between;
}
.shoppingResult li:last-child span:first-child{
    margin-right: 10px;
}

.shoppingResult li:last-child {
    font-family: "Mardoto Black", serif;
    margin-top: 26px;
}

.favoriteDiv > div:first-child {
    display: flex;
    width: 50%;
    overflow: hidden;
    height: 70%;
}

.favoritePicture {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;

}
.emptyFavorit{
    width: max-content;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.emptyFavorit h2{
    color: white;
}
.favoritePicture  img {
    width: 100%;
    height: 100%!important;
    object-fit: contain;
    object-position: center;
}

.favoriteText {
    margin-left: 20px;
    height: 100%;
}

.favoriteSpan {
    margin-top: 20px;

}

.favoriteSpan > span {
    font-family: Mardoto, serif;
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 19px;
}
.mobileIcons{
    display: none;
}
.favoriteParagraph {
    margin-top: 12px;
}
.favoriteRow{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.favoriteParagraph > p {
    font-family: Mardoto, serif;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.price > span {
    font-family: Mardoto, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: white;
}

.qrCode{
    width: 70px;
    height: 70px;
    margin-left: 50px;
}
.qrCode>img{
    width: 100%;
}

.icons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.icons > ul {
    display: flex;
    margin-right: 10px;
    margin-top: 20px

}

.icons li {
    list-style: none;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.icons li:first-child:hover{
    color: white;
}

.mobileTitle{
    display: none;
}

.favoriteItem{
    display: flex;
}

@media only screen and (max-width: 650px) {
    .rowR{
        display: flex;
        justify-content: space-between;
    }

    .favoritePicture{
        margin-left: 15px;
    }

    .favoriteText{
        display: none;
    }

    .mobileTitle{
        display: block;
        margin-bottom: 10px;
    }

    .mobileTitle .favoriteText{
        display: block;
        margin-left: 0;
    }

    .favoriteItem{
        margin-left: 20px;
    }

    .favoriteDiv{
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .favoriteItem {
        flex-direction: column-reverse;
    }

    .qrCode{
        width: 80px;
        height: 80px;
        margin-left: 0;
        display: flex;
        align-items: end;
    }
    .qrCode>img{
        width: 100%;
    }
    .icons{
        width: 100%;
        display: none;
    }
    .mobileIcons{
        display: flex;
        align-items: flex-end;

    }
    .mobileIcons .icons{
        display: flex;
    }
    .mobileIcons ul{
        margin-top: 0;
    }
    .shoppingResult{
        width: auto;
    }

    .price>span{
        font-size: 15px;
    }

    .favoriteRow{
        flex-direction: column;
    }
}
