.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 5% 20px;
    background: #222222FF;
    border-top: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
}

.logo {
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.5s;
}

.logo img:hover {
    scale: 1.1;
}

.footer > div:last-child {
    display: flex;
}

.footer li {
    list-style: none;
}

.footer li span {
    margin-right: 3px;
}

.pages > div {
    margin-left: 120px;
}

.pages h4 {
    color: white;
    font-family: Mardoto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    margin-bottom: 20px;
}

.pages h4:hover {
    color: #C31F30FF;
    cursor: pointer;
}

.pages a {
    color: white;
    text-decoration: none;
}

.pages ul li:hover {
    color: #C31F30FF;
}

.pages li {
    color: white;
    font-family: Mardoto, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    transition: 0.5s;
}

.itemSocial {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 7.5px;
    cursor: pointer;
    transition: 0.5s;
}

.itemSocial a {
    color: white;
}

.itemSocial:hover {
    background-color: #625b5b;
}

.socials {
    display: flex;
    margin-top: 20px;
}

.footer a:hover,
.footer p:hover,
.footer span:hover,
.footer li:hover {
    color: #C31F30FF;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .footer > div:first-child {
        display: none;
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 730px) {
    .footer > div:last-child div:last-child {
        display: none;
    }

    .pages > div {
        margin-left: 0px;
    }

    .pages li {
        font-size: 21px;
    }

    .pages h4 {
        font-size: 25px;
    }

    .footer > div:last-child {
        width: 100%;
        justify-content: space-evenly;
    }
}
