.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 5% 20px;
    background: var(--White, #FFF);
    border-top: 1px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
}

.footer img {
    width: 111px;
}

.footer > div:last-child {
    display: flex;
}

.footer li {
    list-style: none;
}
.footer li span{
    margin-right: 3px;
}

.pages > div {
    margin-left: 120px;

}

.pages h4 {
    color: var(--Black, #1A1A1A);
    font-family: Mardoto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    margin-bottom: 20px;
}
.pages a{
    color: black;
    text-decoration: none;
}
.pages li {
    color: var(--Black, #1A1A1A);
    font-family: Mardoto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    transition: 0.5s;
}

.itemSocial {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 7.5px;
    cursor: pointer;
    transition: 0.5s;
}
.itemSocial a{
    color: white;

}
.itemSocial:hover {
    background-color: #D09F4E;
}

.socials {
    display: flex;
    margin-top: 20px;
}

.pages li:hover, .pages li a:hover {
    color: #D09F4E;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .footer > div:first-child {
        display: none;
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 730px) {
    .footer > div:last-child div:last-child {
        display: none;
    }

    .pages > div {
        margin-left: 0px;
    }

    .pages li {
        font-size: 21px;
    }
    .pages h4{
        font-size: 25px;
    }
    .footer > div:last-child {
        width: 100%;
        justify-content: space-evenly;
    }
}

