
.header {
    width: 100%;
    height: 120px;
    background-color: #222222FF;
    position: fixed;
    z-index: 22222;
    top: 0;

}

.loaderPage {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMenu li {
    position: relative;
    list-style: none;
    font-size: 20px;
    margin: 0 20px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
    font-family: MardotoItalic, serif;
    transition: 0.5s;
}
.header a{
    text-decoration: none;

}
.btnDelivery {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    margin-left: 10px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    animation: 1s animated ease-out infinite;
}
@keyframes animated {
    from{
        box-shadow: 0 0 0 rgba(0, 0, 0,0);
    }
    to{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);


    }
}
.btnDelivery::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    transition: all 0.4s ease-in-out;
}



.btnDelivery:hover::before {
    left: 0;
    transition: all 0.4s ease-in-out;
}

.delivery{
   max-width: max-content;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery p{
    color:white;
    font-size: 24px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courie, serif;
}
.headerMenu a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 22px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.header ul {
    display: flex;
    max-width: 100px;
    justify-content: center;
}

.headerMenu li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
}

.headerMenu li:hover a::after {
    width: 100%;
}

.headerMenu a:hover {
    color: white;
}

.loaderPage img {
    width: 100px;
    animation: 1s animateLoader infinite;
}

@keyframes animateLoader {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.searchBox {
    display: flex;
}


.priceDrb {
    position: absolute;
    padding-top: 32px;
    left: 0;
    z-index: 22222222222;
    margin-left: -26px;
    margin-top: 4px;
}

.priceDrbContent {
    background-color: #F5F5F5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.priceDrbContent > p {
    padding: 5px 30px;
    border-bottom: 1px solid rgba(176, 175, 175, 0.12);
}

.priceDrbContent > p:first-child {
    border-top: 1px solid black;
}

.priceDrbContent > p:hover {
    background-color: white;
}

.drb {
    position: absolute;
    padding-top: 32px;
    z-index: 222222;
    right: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.rotateArrow {
    transform: rotate(-180deg);
}

.drbContent {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.drbContent li {
    padding: 10px 30px;
    list-style: none;
    /*border: 1px solid #000000;*/
}

.drbContent li:hover {
    background: white;
}

.drbContent a {
    text-decoration: none;
}

.drbContent > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 1px solid black;
    order: -1;
}

.drbContent > p:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}


.logo {
    width: 100px;
    height: 90%;
    cursor: pointer;
    border-radius: 50%;

}
.logoText{
    width: max-content;
    display: none;
}
.logoText a p{
  cursor: pointer;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.5s;
}
.logo img:hover{
    scale: 1.1;
}
.contentHeader {
    display: flex;
    width: calc(100% );
    margin: auto;
    align-items: center;
    height: 100%;
    justify-content:space-around;
}

.boxSearch {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: 222222;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.activeCategory a {
    color: white;
}



.drbLangRow {
    display: flex;
    align-items: center;

}

.searchBox label {
    margin-bottom: 20px;
    display: block;
}

.containerSearch {
    padding: 50px
}

.searchResult {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.searchResult > div {
    margin-top: 40px;
    width: calc(100% / 4 - 20px);
    margin-right: 20px;
}

.searchBoxBack {
    width: 100%;
    height: calc(100vh - 90px);
    position: absolute;
    background: white;
    top: 90px;
    left: 0;
    z-index: 222221;
}

.contentHeader > div:last-child, .icons {
    width: 200px;
    display: flex;
    justify-content:space-evenly;
}

.icons ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.icons > ul > li {
    margin-right:10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: Mardoto, serif;
    cursor: pointer;
    position: relative;
    color: #ffffff;
}

.icons > ul > li:hover {
    color: white;
    margin-bottom: 5px;
}

.icons li:first-child {
    position: unset;
}


.icons > ul > li > a:hover {
    color: white;
    margin-bottom: 5px;

}

.icons a {
    color: #ffffff;
}

.icons li:nth-child(3):hover {
    color: #ffffff;
    margin-bottom: 5px;
}

.countBasket {
    width: 17px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    color: black;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language img {
    margin-left: 10px;
}

.currentcySize {
    font-size: 15px;
}

.languageForSize {
    font-size: 15px !important;
}

.icons > ul > li:last-child span:last-child {
    margin-left: 3px;
    font-weight: bold;
}

.mobileMenu {
    display: none;
}

@media only screen and (max-width: 1800px) {
    .contentHeader {
        width: calc(80%);
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1280px) {
    .headerMenu li {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1110px) {
    .headerMenu li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 990px) {
    .btnDelivery{
        padding: 7px 18px;
        border: 1px solid white;
        font-size: 14px;

    }
    .contentHeader {
        width: calc(100%);
        display: flex;
        justify-content: space-evenly;
    }


    .menuStyle {
        width: 100%;
        transform: translateX(-120%);
        transition: 1s;
        padding: 20px;
    }

    .menuStyle.active {
        transform: translateX(0%);
    }

    .headerMenu, .contentHeader > div:first-child {
        display: none;
    }

    .headerMobileMenu {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .headerMobileMenu > div {
        display: flex;
    }

    .mobileTools {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }


    .searchBoxMobile input {
        margin-top: 10px;
        height: 40px;
    }

    .mobileTools > div {
        width: 48%;
    }

    .closeIcon {
        font-size: 30px;
        color: white;
        position: absolute;
        right: 0;
        top: 0;
    }
    .lists{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .lists ul{
        display: flex;
        flex-direction: column;

    }
    .lists li {
        font-size: 25px;
        font-family: Mardoto, serif;
        list-style: none;
        padding: 10px;

    }




    .lists a {
        color: white;
        text-decoration: none;
    }

    .menuStyle {
        width: 90%;
        height: 100vh;
        position: fixed;
        top: 0;
        background: linear-gradient(135deg, #000000, #ffffff);
        left: 0;
        z-index: 222222;
    }


    .mobileMenu {
        display: block;
        color: white;
    }

    .btnMenu {
        font-size: 30px;
    }




}

@media only screen and (max-width: 750px) {
    .headerMenu li {
        font-size: 15px;
        margin: 0 3px;
    }
    .contentHeader > div:last-child {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;

    }

    .logo{
        display: none;
    }
    .logoText{
        display: block;
        text-align: end;
    }
    .logoText p{
        color: white;
        font-size: 18px;
        text-transform: capitalize;
        font-family: "Malgun Gothic Semilight", serif!important;
    }
    .icons li {
        font-size: 24px;
    }

    .contentHeader {
        width: 80%;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 500px) {
    .btnDelivery{
        padding: 7px 18px;
        border: 1px solid white;
        font-size: 12px;
    }
    .contentHeader {
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 400px) {
    .contentHeader {
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-evenly;
    }
    .logoText{
        display: none;
    }
}
