.offers {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 50px;
    font-family: MardotoLight, serif;
    color: white;
    text-align: center;
}

.detailsMargin {
    margin-top: 50px;
}

.products {
    width: 99%;
    height: auto;
    background-image: url("/photos/back5.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;

}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    position: relative;

}

.productItem {
    width: 96%;
    min-height: 60px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(240, 240, 240, 0.5));
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.6s ease;
}

.item:hover .productItem {
    min-height: 140px;
    cursor: pointer;
}
.item:hover .textItem p{
    opacity: 1;
    transition: 0.5s ease-in-out;

}
.textItem p {
    color: black;
    font-size: 14px;
    opacity: 0;
}

/* Add responsiveness */
@media screen and (max-width: 768px) {
    .productItem {
        height: 50px; /* Reduce initial size for smaller screens */
    }

    .item:hover .productItem {
        height: 120px;
    }

    .textItem p {
        font-size: 12px; /* Adjust font size */
    }
}


.item img {
    height: 80%;
    transition: 1s;
    cursor: pointer;
    width: 96%;
    object-fit: cover;
    border-radius: 20px;
}

.productsRow img:hover {
    transform: scale(1.1);
}

.productItem > p {
    font-weight: 400;
    line-height: 28px;
    color: black;
    font-family: "Mardoto Light", serif;
    font-size: 15px;
}

.span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: MardotoItalic, serif;
    cursor: pointer;
    color: black;
    margin-top: 20px;

}

.icon ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.icon li {
    font-size: 24px;
    cursor: pointer;
    color: black;
    margin-top: 20px;
    margin-left: 10px;
}

.icon li:hover {
    color: black;
    margin-bottom: 5px;
}

.icon li:first-child:hover {
    color: black;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: calc(450px - 360px);
    padding: 0 12.5px;
}

@media only screen and (max-width: 1880px) {
    .productsRow > div {
        width: calc(100% / 2 - 50px);
    }
}

@media screen  and (max-width: 1100px) {
    .item img {
        width: 90%;
        object-fit: contain;
        object-position: center;
    }

    .offers h2 {
        font-size: 20px;
        font-family: "Mardoto Black", serif;
    }
}

@media screen  and (max-width: 900px) {


    .item img {
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    .item {
        width: 70%;
        margin: auto;


    }

    .productItem {
        height: 60px;
    }

    .textItem p {
        font-size: 12px;

    }

    .productItem > p {
        color: white;
        font-family: "Mardoto Light", serif;
        font-size: 12px;
    }

    .span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        font-family: MardotoItalic, serif;
        cursor: pointer;
        color: white;
        margin-top: 20px;

    }


    .icon li {
        font-size: 14px;
    }

    .offers h2 {
        font-size: 20px;
        font-family: "Mardoto Black", serif;
    }
}
@media screen  and (max-width: 500px) {


    .item img {
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    .item {
        width: 70%;
        margin: auto;


    }

    .productItem {
        width: 100%;
        height: 60px;

    }

    .textItem p {
        font-size: 12px;

    }

    .productItem > p {
        color: white;
        font-family: "Mardoto Light", serif;
        font-size: 12px;
    }

    .span {
        font-size: 12px;
    }


    .icon li {
        font-size: 12px;
    }

    .offers h2 {
        font-size: 20px;
        font-family: "Mardoto Black", serif;
    }
}