
.containerParent {
    width: 100%;
    height: auto;
    background-image: url("/photos/back4.jpg");
    background-size:cover;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
    border-radius: 15px;
    color: white;
    background: rgba(0,0,0,0.6);

}

.intro {
    text-align: center;
    margin-bottom: 30px;
}

.intro p {
    margin: 10px;
    font-size: 20px;
}


.orderButton {
    margin: 20px auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
}



.contactInfo {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;


}

.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    background: transparent;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.container p{
    color: white!important;
}
.contactCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.contactCard p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
